services:
  db:
    image: postgres:16
    restart: unless-stopped
    ports:
      - 5432:5432
    env_file:
      - .db.env
    volumes:
      - /srv/profile-db:/var/lib/postgresql
  backend:
    image: docker.io/oxxydde/portfolio-backend:1.0.0
    restart: unless-stopped
    build: .
    ports:
      - 8082:8080
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
